
<div class="main container">
  <h1>Lab Needs</h1>
  <form ng-submit="save()" name="form" novalidate="" class="thing-form">
    <p class="input-group">
      <input type="text" placeholder="Lab Name" ng-model="newThing.name" class="form-control"/>
      <input type="text" placeholder="Lab Needs" ng-model="newThing.labNeeds" class="form-control"/>
      <input type="text" placeholder="Day/Times Needed" ng-model="newThing.dayTimeNeeds" class="form-control"/>
      <input type="text" placeholder="Lab Manager Contact Info (email address or work phone number)" ng-model="newThing.contactInfo" class="form-control"/>
      <span class="input-group-btn">
        <input ng-click="newThing.owner=$root.currentUser._id;" type="submit" value="Add" class="btn btn-primary"/></span>
    </p>
  </form>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="input-group pull-right col-md-3 col-sm-12">
        <input type="search" ng-model="search" placeholder="Search" class="form-control"/>
        <div dropdown="" on-toggle="toggled(open)" class="dropdown input-group-btn">
          <button dropdown-toggle="" class="btn btn-primary dropdown-toggle">{{ orderProperty==='1' ? 'Ascending' : 'Descending' }}<span class="caret"></span></button>
          <ul role="menu" class="dropdown-menu">
            <li ng-click="orderProperty='1'">Ascending</li>
            <li ng-click="orderProperty='-1'">Descending</li>
          </ul>
        </div>
      </div>
      <ul class="nav nav-tabs nav-stacked col-md-9 col-sm-12">
        <li dir-paginate="thing in things | itemsPerPage: perPage" total-items="thingsCount.count" current-page='page'>
          <p> <strong>Lab Name:</strong> {{ thing.name }} <br>
          <strong>Lab Needs:</strong> {{ thing.labNeeds }} <br>
          <strong>Days Needed:</strong> {{ thing.dayTimeNeeds }}<br>
          <strong>Lab Manager Contact Info:</strong> {{ thing.contactInfo }}<br>

            <button ng-click="remove(thing)" class="btn">Need Met</button>
          </p>
        </li>
      </ul>
      <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class="col-md-12"></dir-pagination-controls>
    </div>
  </div>
  <p>Total number of needs: {{thingsCount.count}}</p>
</div>