<div class = "main container">
<h1>Stay up to date by joining our listserv</h1>


	<form ng-submit="save()" name="form" novalidate="" class="thing-form">
		<p class="input-group">
		<label>Add your email address to keep up with software changes and to get updated lists of available employees:</label>
        <input type="text" placeholder = "name" ng-model="newEmail.name" class = "form-control"/>
		<input type="text" placeholder="email address" ng-model="newEmail.email" class="form-control"/> 
		<div class="input-group-btn">
      <input ng-click="newEmail.owner=$root.currentUser._id;" type="submit" value="Add" class="btn btn-primary"/></div>
    	</p>
    </form>

    <div class="panel panel-default">
    <div class="panel-body">
  <ul class="nav nav-tabs nav-stacked col-md-9 col-sm-12">
        <li dir-paginate="thing in emails | itemsPerPage: perPage" total-items="emailsCounter.count" current-page='page'>
          <p> 
          <strong>Name: </strong>{{thing.name}} <br>
           <strong>Email: </strong>{{ thing.email }}<br>
            <button ng-click="remove(thing)" class="btn">x</button>
          </p>
        </li>
      </ul>
      <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class="col-md-12"></dir-pagination-controls>
    </div>
  </div>
</div>


