<div class="main container">
Lab Surplusses page

	<h1>Lab Surplusses</h1>
	<p> Please fill out the form with your employees most relevant skills </p>
	<form ng-submit="save()" name="form" novalidate="" class="thing-form">
		<p class="input-group">
			<input type="text" placeholder="Lab Name" ng-model="newSurpluss.name" class="form-control"/>
      <input type="text" placeholder="Available Employees' Skills" ng-model="newSurpluss.skills" class="form-control"/>
     	<input type="text" placeholder="Day/Times Available" ng-model="newSurpluss.dayTimeAvailability" class="form-control"/>
      <input type="text" placeholder="Lab Manager Contact Info (email address or work phone number)" ng-model="newSurpluss.contactInfo" class="form-control"/>
      Attach empoloyee's resume here:<input type="file"  ng-model="newThing.resume" class="form-control ng-pristine ng-valid ng-touched">
      <span class="input-group-btn">
      <input ng-click="newSurpluss.owner=$root.currentUser._id;" type="submit" value="Add" class="btn btn-primary"/></span>
    	</p>
    </form>
     <div class="panel panel-default">
    <div class="panel-body">
      <div class="input-group pull-right col-md-3 col-sm-12">
        <input type="search" ng-model="search" placeholder="Search" class="form-control"/>
        <div dropdown="" on-toggle="toggled(open)" class="dropdown input-group-btn">
          <button dropdown-toggle="" class="btn btn-primary dropdown-toggle">{{ orderProperty==='1' ? 'Ascending' : 'Descending' }}<span class="caret"></span></button>
          <ul role="menu" class="dropdown-menu">
            <li ng-click="orderProperty='1'">Ascending</li>
            <li ng-click="orderProperty='-1'">Descending</li>
          </ul>
        </div>
      </div>
      <ul class="nav nav-tabs nav-stacked col-md-9 col-sm-12">
        <li dir-paginate="surpluss in surplusses | itemsPerPage: perPage" total-items="surplussCounter.count" current-page='page'>
          <p> <strong>Lab Name:</strong> {{ surpluss.name }} <br>
          <strong>Employee Skills:</strong> {{ surpluss.skills }} <br>
          <strong>Days Available:</strong> {{ surpluss.dayTimeAvailability }}<br>
          <strong>Lab Manager Contact Info:</strong> {{ surpluss.contactInfo }}<br>
          {{ surpluss.resume }} <br>

            <button ng-click="remove(surpluss)" class="btn">Need Met</button>
          </p>
        </li>
      </ul>
      <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class="col-md-12"></dir-pagination-controls>
    </div>
  </div>
<form>
<input type = "text" placeholder="add your email address to stay up to date on employees available" class = "form-control">
</form>
<button class="btn">Add</button>
</div>

